body{
    background-color: black!important;
    color: white!important;
}

header a{
    color: white!important;
}

main {
    text-align: center;
}

footer {
    text-align: center;
}

.logo img{
    width: 170px;
    height: auto;
}


.button a{
    color: white;
}