<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.css"> -->
    <!-- CSSの適用 -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <title>DeLeague</title>
</head>

<body>
    <header>
        <!-- hey -->
        <div class="ui secondary menu stackable header-sticky">
            <a href="index.html" class="logo">
                <img src="../static/images/logo.png">
            </a>
            <a class="item" href="index.html">トップページ</a>
            <a class="item" href="match.html">ランクマッチ</a>
            <a class="item" href="mypage.html">マイページ</a>
            <a class="item" href="rules.html">ルール掲載ページ</a>
            <div class="right menu">
                <a class="ui item" href="index.html">ログアウト</a>
            </div>

        </div>
    </header>
    <main>
        <section id="hero" class="container">
            <div class="hero_inner">
                <h1>DBDmate</h1>
                <p>DBDmateへようこそ</p>
                <div class="button">
                    <button class="ui button orange big"><a href="match.html">ランクマッチへ</a></button>
                    <button class="ui button yellow big"><a href="mypage.html">マイページ</a></button>
                </div>
                <br>
                
            </div>
        </section>
    </main>

    <footer>
        <div class="footer_inner">
            <p>© 2024 DeLeague</p>
        </div>
    </footer>
</body>

</html>     